.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
*.db
*thread-figures/
*.rds
*.csv
*.spark.log
*.derby.log
*log4j.spark.log
*logs*
**libs
*derby.log
*.xlsx
*.parquet
*.pqt
*.duckdb
*.key
videos/
